@charset "UTF-8";
/* IMPORTS */
/*MISCLENEOUS*/
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
.img-durazno {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/durazno.jpg");
  border-radius: 5px; }

.img-verde {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/verde.jpg");
  border-radius: 5px; }

.img-mango {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/mango.jpg");
  border-radius: 5px; }

.p-xlarge {
  padding: 5rem; }

.p-large {
  padding: 3rem; }

.p-medium {
  padding: 0 2rem; }

.p-small {
  padding: 1.5 rem; }

.p-xsmall {
  padding: 1rem; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%;
  /*color: $secondary;*/ }

body {
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: #ffffff;
  background: linear-gradient(to bottom, #d6900d, #d6900d, #d6900d, #d6900d, #d6900d, #ba980e, #9e9e20, #84a135, #5f8599); }

ol, ul {
  padding-left: 0;
  margin-bottom: rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

/* HELPERS */
.container {
  max-width: 1080px;
  margin: 0 auto; }

@keyframes rotacion_loca {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes heartbeat {
  animate__heartBeat { } }

/*PARTIALS*/
header {
  background-color: #d6900d; }
  header .navbar {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    wrap: wrap;
    padding: 0 2rem; }
  header .logo {
    flex-basis: 30%; }
  header .menu {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    wrap: nowrap; }
    header .menu__item, header .menu__item--active {
      border: 2px solid #d6900d;
      transition: border-color .3s ease-in-out; }
      header .menu__item--active {
        border-bottom: 3px solid #5F8599; }
      header .menu__item:hover, header .menu__item--active:hover {
        border-color: #ffffff; }
    header .menu__link {
      font-size: 1.8em;
      padding: 1rem; }
  header .menu .menu__item:hover .sub-menu, header .menu .menu__item--active:hover .sub-menu {
    display: block; }
  header .sub-menu {
    display: none;
    position: absolute; }
  header .sub-menu .sub-menu__item .sub-menu__link {
    padding: 1rem;
    font-size: 1.4em;
    transition: all .3s ease-in-out; }
  header .sub-menu .sub-menu__item .sub-menu__link:hover {
    background-color: #ffffff;
    color: #d6900d; }

@media screen and (max-width: 720px) {
  header {
    padding: 2em; }
    header .navbar {
      flex-direction: column;
      justify-content: center; }
    header .menu {
      font-size: .8em; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  wrap: wrap;
  height: 10vh;
  background-color: #5F8599; }

/*VIEWS*/
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  wrap: wrap;
  padding: 0 2rem; }
  .presentation__picture {
    flex-basis: 50%;
    min-width: 320px; }
  .presentation__img {
    width: 100%; }
  .presentation__description {
    flex-basis: 50%;
    color: #ffffff; }
  .presentation__container p {
    font-size: 2.4em; }
  .presentation__container h1 {
    font-size: 4.8em;
    text-transform: capitalize;
    flex-basis: 100%;
    min-width: 320px; }
  .presentation__badge img {
    transform: scale(1.5) translateX(50px);
    transition: transform 1s ease-in-out; }
  .presentation__badge img:hover {
    transform: scale(3); }

@media screen and (max-width: 720px) {
  .presentation {
    flex-wrap: wrap; }
    .presentation__picture {
      flex-grow: 1; }
    .presentation__container h1 {
      flex-direction: column;
      justify-content: center; }
    .presentation__description {
      flex-grow: 1;
      display: flex;
      order: -1;
      flex-direction: column;
      align-items: center; }
    .presentation__badge img {
      transform: scale(1.5) translateX(2px);
      transition: transform 1s ease-in-out; }
      .presentation__badge img:hover {
        transform: rotate(180deg); } }

.bio {
  gap: 2rem;
  align-items: center;
  padding: 0 2rem; }
  .bio h2 {
    font-size: 3.6em; }
  .bio p {
    font-size: 1.8em; }

.rock_your_life {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  grid-template-areas: "Rock1" "Your2" "Life1" "Rock2" "Your1" "Life2";
  gap: 2rem; }
  .rock_your_life__img1 {
    border-radius: 10px;
    animation: rotacion_loca 1 ease-in-out 1s; }
  .rock_your_life__img2 {
    border-radius: 10px;
    animation: rotacion_loca 1 ease-in-out 2.5s; }
  .rock_your_life__img3 {
    border-radius: 10px;
    animation: rotacion_loca 1 ease-in-out 1.5s; }
  .rock_your_life__img4 {
    border-radius: 10px;
    animation: rotacion_loca 1 ease-in-out 3s; }
  .rock_your_life__img5 {
    border-radius: 10px;
    animation: rotacion_loca 1 ease-in-out 2s; }
  .rock_your_life__img6 {
    border-radius: 10px;
    animation: rotacion_loca 1 ease-in-out 3.5s; }
  .rock_your_life img {
    width: 100%; }

.img1 {
  grid-area: "Rock1"; }

.img2 {
  grid-area: "Rock2"; }

.img3 {
  grid-area: "Your2"; }

.img4 {
  grid-area: "Your1"; }

.img5 {
  grid-area: "Life1"; }

.img6 {
  grid-area: "Life2"; }

@media screen and (max-width: 720px) {
  .rock_your_life {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "img1"  "img2" "img3"  "img4" "img5"  "img6"; } }

.agregardatos {
  background: url(../assets/img/Montañas2.svg);
  background-size: 100% auto;
  background-position: center;
  padding: 2rem;
  width: 100%;
  min-width: 320px; }
  .agregardatos__picture {
    min-width: 320px;
    gap: 2rem; }

main input {
  background-color: coral; }

.formulario__input-text {
  padding: 8rem;
  outline: none;
  border: none; }

@media screen and (max-width: 720px) {
  .AgregarDatos {
    flex-wrap: wrap; }
    .AgregarDatos__picture {
      flex-grow: 1;
      align-items: center; } }

.imagenesBarras img {
  border-radius: 5px; }

main {
  max-width: 1080px;
  margin: 0 auto; }
  main .bebidas-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    main .bebidas-section article h2 {
      padding: 0 2rem; }
    main .bebidas-section article p {
      padding: 0 2rem; }

.carousel {
  padding: 2rem 1rem; }

.imagenesSnack img {
  border-radius: 10px; }
