<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png">
    <link rel="stylesheet"  href="../../css/index.css">
    <meta name="description" content="Estamos para servirte y brindarte todo tipo de asistencia con tu alimentación.">
    <meta name="keywords" content="Llámanos, Barras energéticas, Alimentación consciente, Disponibles, Contacto.">
    <title>Comunícate con nosotros</title>
</head>

<body>
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <img src="../img/Isologo BeAble.png" alt="Logo de la marca BeAble" width="100px">
            </picture>
            
            <ul class="menu flex-row"> 
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="Nosotros.html" class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="Contacto.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">Productos</a>
                    
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a href="Barras_energeticas.html" class="sub-menu__link">Barras energéticas</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="Bebidas.html" class="sub-menu__link">Bebidas revitalizantes</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="Snack.html" class="sub-menu__link">Snacks saludables</a>
                        </li>
                    </ul>

                </li>

            </ul>

        </nav>
    </header>
    <main class="agregardatos container">
        <picture class="agregardatos__picture container">
            <!-- <img class="agregardatos_img" src="../img/Montañas2.svg" alt="FondoMontañas"> -->
        </picture>
        <div><h2>Comunicate con nosotros</h2></div>
        <div>
        <form class="formulario__agregardatos" action="" method="post" enctype="">
            <label for="nombre">Nombre</label>
            <input class="Formulario__input-text" type="text" name="Nombre" id="">
            <br>
            <label for="Contraseña">Contraseña</label>
            <input class="Formulario__input-text" type="password" name="Contraseña" id="">
            <br>
            <label for="edad">Edad</label>
            <input class="Formulario__input-text" type="date" name="edad" id="">
            <br>
            <label for="email">Email</label>
            <input class="Formulario__input-text"  type="email" name="email" id="">
            <br>
            <button type="submit"></button>
            <input class="Formulario__input-text" type="reset" value="limpiar formulario">
            <button class="card__button btn">Registrar</button>
        </form>
        </div>
    </main>

    <footer class="flex-row">
        <p>Todos los derechos reservados&copy; 2022</p>
    </footer>
</body>

</html>