<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/favicon.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicios</title>
</head>
<body>
    <header>
        <nav>
            <a href="../../index.html"><img src="../img/Isologo BeAble.png BeAble.png" width="90" height="100"></a>
            <ul>
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="Servicios.html">SERVICIOS</a></li>
                <li><a href="Nosotros.html">NOSOTROS</a></li>
                <li><a href="Contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>SERVICIOS</h2>
        <table border cellpadding="10px" cellspacing="5px"
        
        <tr>
            <th>Proyectos desde cero</th>
            <th>Apoyo a empresas existentes</th>
            <th>Consultorías</th>
        </tr>
        <tr>
            <td>Te ayudamos a crear un proyecto desde cero</th>
            <td>Control de finanzas</th>
            <td>Evaluamos el desempeño anual de tu empresa</th>
        </tr>
        <tr>
            <td>Te acompañamos en todo procedimiento</th>
            <td>Elaboramos estrategias acordes a tu marca</th>
            <td>Estudiamos tu marca y fortalecemos puntos críticos</th>
        </tr>
    </table>
    </main>

    <footer>
    
            <p>Todos los derechos están reservados</p>

    </footer>
    
</body>
</html>