$principal: #d6900d;
$secondary: #ffffff;
$grad--bg: linear-gradient(to bottom, #d6900d, #d6900d, #d6900d, #d6900d, #d6900d, #ba980e, #9e9e20, #84a135, #5f8599);   
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;
$text-lg: 2em;
$text-md: 1.8em;

$images: (
    durazno: 'durazno',
    verde: 'verde',
    mango: 'mango',
);

@each $image, $value in $images {
    .img-#{$image} {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-image: url('../assets/img/#{$value}.jpg');
        border-radius: 5px;
    }
}

$paddings: (
    xlarge: 5rem,
    large: 3rem,
    medium: 0 2rem, 
    small: 1.5 rem,
    xsmall: 1rem,
);

@each $var, $val in $paddings {
    .p-#{$var} {
        padding: #{$val};
    }

}