$principal: #d6900d;
$secondary: #ffffff;
$grad--bg: linear-gradient(to bottom, #d6900d, #d6900d, #d6900d, #d6900d, #d6900d, #ba980e, #9e9e20, #84a135, #5f8599);   
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;
$text-lg: 2em;
$text-md: 1.8em;